<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title"> <%= @item.item_name %> </h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"> <%= link_to "Return", storages_path %> </span>
    </div>
  </div>
</div>
<div class="flashes"></div>
<div id="active_admin_content">
  <div id="main_content_wrapper">
    <div id="main_content">
      <div class="panel">
        <h3>Item Details</h3>
        <div class="panel_contents">
          <div class="attributes_table">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <% @departments.each do |dep| %>
                  <tr class="row">
                    <th> <%= dep.dep_name %> </th>
                    <td>Quantity</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel">
        <h3>General Quantity</h3>
        <div class="panel_contents">
          <div class="attributes_table">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <th>Total <%= @item.item_name %></th>
                  <td>Full Quantity</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
